<style>
h3 {
    color:#000080;
}

h4{
    color:#4169E1;
}

p{
    color:#000000;
    font-size=20px;
}

.bg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul.products li {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    border: 1px solid #000;
    list-style-type: none;
}

.button {
    background-color: #808080;
    border: none;
    border-radius: 8px;
    color: #E8E8E8;
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:disabled {
    background-color: #404040;
}
</style>
