{% extends "NavBar.html" %}
{% block bodycontent %}
<html>
 <head>
     <title>About</title>
     <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 </head>
     <div class="container-fluid text-center" id='watchdiv'>
     </br>
        <a href ="/">
         <img src="/static/images/Brand/Secret_Watch_Club_dial.png" style="max-width:250px; max-height:250px;"></img>
        </a>

     <body>
         <div class='container' align='left'>
             <hr>
            Secret Watch Club is a place where you can find new watches alongside those you already know well. The collection here has been curated with the members of the <a href="https://www.reddit.com/r/watches">r/watches</a> community in mind, but the tastes and sensibilities represented here are universal.  If you have a watch you want added to the collection we would love to hear from you!
            </br></br>
            Each individual watch is represented by:</br>
            A high-resolution picture of its dial</br>
            Price (updated every 15 minutes with Amazon’s API)</br>
            Amazon link (with referral tag)</br>
            Price history link (camelcamelcamel)</br>
            r/watches search link (join the discussion!)</br>
            </br>
            Here at Secret Watch Club we hope you will find what you’ve been looking for. Whether you fall in love with a dial after seeing it for the first time or find a piece you have been meaning to acquire, the price history alongside each watch will help you decide if now is a good time to buy. Should you decide to do that on Amazon, you can click on the cart next to any watch to find it there.
            </br></br>
            This website runs on the Google Cloud Platform. Source code available on <a href="https://www.Github.com/BrendanMurray/OptimalWatches">GitHub</a>.
            </br>
        </div>
	 	</div>
	 </body>
     <script>

     </script>
 </html>

{% endblock %}
