{% extends "NavBar.html" %}
{% block bodycontent %}
<html>
 <head>
     <title>Home</title>
     <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 </head>
	 <body class="bg">
	 	<div class="container text-center" id='watchdiv'>
	 		<h2 style='text-align:center; vertical-align: middle; color:black;'>Watches to Watch</h2>
            <ul class="products" id='watch-ul'>
            </ul>
	 	</div>
	 </body>
     <script>
     $(document).ready(function(){
         var wList =  {{list|safe}};
         for (var prop in wList){
             $('#watch-ul').append("<li></br><img src='"+wList[prop].ImageURL+"' height=225px><h4><i>"+wList[prop].DisplayName+"</i></h4><p><a href='http://www.amazon.com/dp/"+wList[prop].ItemId+"/'><i class='icon-shopping-cart icon-3x' style='color:#ff9900;'></i></a><span style='padding-left:3em'></span>     <span style='color:#00a100; font-size:125%'>$"+wList[prop].Price+"</span><span style='padding-right:3em'></span><a href='http://camelcamelcamel.com/product/"+wList[prop].ItemId+"/'><i class='icon-bar-chart icon-3x' style='color:#146eb4;'></i></a></p></li>");
         }
     });
     </script>
 </html>

{% endblock %}
